<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668031586547-q9hitnm71v2tbjgnoftjqhob4p5q1usj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668031586547-q9hitnm71v2tbjgnoftjqhob4p5q1usj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>668031586547-9docfjdgj20iiklri91sjnamtdn9094p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3eUs3QXnMUHNEebHviSXpRiUFdFjyb1s</string>
	<key>GCM_SENDER_ID</key>
	<string>668031586547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nhom8.customerManager.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>customermanager-5bd19</string>
	<key>STORAGE_BUCKET</key>
	<string>customermanager-5bd19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668031586547:ios:89b18a1840c89528baa786</string>
	<key>DATABASE_URL</key>
	<string>https://customermanager-5bd19-default-rtdb.firebaseio.com</string>
</dict>
</plist>